/* NEXUSDEV - Fo CSS fajl */


/* Alap stilusok */
@import './css/global.css';

/* Komponensek */
@import './css/navbar.css';
@import './css/footer.css';

/* Oldalak */
@import './css/homepage.css';
@import './css/auth.css';
